{% extends 'Customer_file/_base.html' %}
{% load static %}

{% block title %}Dossier client - Rendez-vous{% endblock title %}

{% block content %}
<section>
    <div class="container">
        <div class="col-1">
            <img src="{% static 'Customer_file/images/background.jpg' %}"
                alt="Image de fond avec le logo du salon de tatouage.">
        </div>
        <div class="col-2">
            <p>Avant d'aller plus loin, petite question : </p>
            <p>Vous êtes là pour : </p>
            <button class="btn1"><a href="{% url 'new_project' %}">Un nouveau projet ?</a></button>
            <button class="btn2"><a href="https://doodle.com/meeting/participate/id/dBBrXnXd}">Retouches ?</a></button>
            {% comment %} <button class="btn3"><a href="{% url 'login' %}">Un cover ?</a></button> {% endcomment %}
        </div>
    </div>
</section>
{% endblock content %}