{% extends 'Customer_file/_base.html' %}
{% load static %}

{% block title %}Dossier client - Style du tatouage{% endblock title %}

{% block content %}
<section>
    <div class="container">
        <div class="col-1">
            <img src="{% static 'Customer_file/images/background.jpg' %}"
                alt="Image de fond avec le logo du salon de tatouage.">
        </div>
        <div class="col-2">
            <h1>A venir prochainement !</h1>
            {% comment %} <ul class="gallery">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul> {% endcomment %}
            <button type="submit"><a href="https://doodle.com/meeting/participate/id/dBBrXnXd">Rendez-vous</button>
        </div>
    </div>
</section>
{% endblock content %}