{% extends 'Customer_file/_base.html' %}
{% load static %}

{% block title %}Dossier client - Style du tatouage{% endblock title %}

{% block content %}
<section>
    <div class="container">
        <div class="col-1">
            <img src="{% static 'Customer_file/images/background.jpg' %}"
                alt="Image de fond avec le logo du salon de tatouage.">
        </div>
        <div class="col-2">
            <ul class="gallery">
                <li style="background: #f6bd60;"></li>
                <li style="background: #f7ede2;"></li>
                <li style="background: #f5cac3;"></li>
                <li style="background: #84a59d;"></li>
                <li style="background: #f28482;"></li>
            </ul>
        </div>
    </div>
</section>
{% endblock content %}