body { 
  font-family: "Arial Black", Arial, Verdana, sans-serif;
  background-color: black;
  color: white;
}
section{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
container {
  display: flex;
  justify-content: center;
  align-items: center; 
}
p{
  margin: 25px;
  text-align: center;
}
form{
  color: white;
  max-width: 500px;
  padding: 60px;
  justify-content: center;
  padding: 15px;
}
label{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
  width: 100%;
  color: white;
}
button{
  display: block;
  margin : auto;
}

li{
  text-decoration: none;
  font-size: small;
  color: white;
}
input{
  /* permet de declarer chaque input dans une ligne apart */
  display: block;
  /* applique une marge */
  margin: 10px auto;
  /* defini la taille des champs maximal */
  width: 300px;
  /* donne une marge interne verticale et horizontale*/
  padding: 6px 10px;
}
input[type="submit"]{
  /* permet de changer la couleur du font de submit */
  background-color: red;
  /* permet de changer le style de la police de standart à bold */
  font-weight: bold;
  /* permet une reaction lorsque la souris passse dessus */
  cursor: pointer;
}
input[type="checkbox"]{
  width: auto;
  margin: 20px;
}
.container {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
form{
justify-content: center;
}