{% extends 'Okohorn/_base.html' %}
{% load static %}

{% block title %}Accueil - Okohorn{% endblock title %}

{% block content %}
<section class="sct-1">
    <img src="{% static 'Okohorn/images/Logo_Okohorn.jpeg' %}" alt="Logo Okohorn.">
    <button class="button"><a href="{% url 'volva' %}">Entrer</a></button>
</section>
<section class="sct-2">
    <h1>Okohorn</h1>
    <div class="container"></div>
        <p>
            C'est l'aboutissement de plusieurs années de création, d'invention et de recherche pour aboutir sur un produit
            écologique avec une fabrication responsable et la protection durable des écosystèmes.
        </p>
        <p>
            Pour tout autre renseignement sur le produit, vous pouvez nous contacter directement par mail :
            contact@okohorn.fr ou par notre formulaire de contact.
        </p>
        <p>
            Vous pouvez aussi nous rendre visite sur les réseaux sociaux.
        </p>
        <p>
            Nous sommes à la recherche de clients potentiels et de partenaires pour appuyer la réalisation de cette
            innovation.
        </p>
    </div>
</section>
{% endblock content %}