{% extends 'Okohorn/_base.html' %}
{% load static/volva.css %}

{% block title %}Okohorn- Völva{% endblock title %}

{% block content %}
<header>
    <h1>Okohorn</h1>
    <p>Bière en financement participatif.</p>
    <p>Consultez les packs sur le lien Ulule.</p>
    <button class="btn-Ulule"></button>
</header>
<section class="section-1">
    <img src="Le_corbeau_d_encre\Okohorn\static\Okohorn\medias\1643981875836.png" alt="Photo de Skal, l'éco-cup corne."
        class="skal">
    <img src="Le_corbeau_d_encre\Okohorn\static\Okohorn\medias\1643981875805.png" alt="Logo de la Völva."
        class="volva-logo">
    <img src="Le_corbeau_d_encre\Okohorn\static\Okohorn\medias\depositphotos_11895893-stock-photo-basil-isolated.png"
        alt="Feuille de basilic." class="basilic">
    <img src="Le_corbeau_d_encre\Okohorn\static\Okohorn\medias\1643981875825.png"
        alt="Photo du visuel de la bière Völva." class="volva-beer">
</section>
<section class="section-2">
    <h2>ACHETER EN PREVENTE SUR ULULE !</h2>
    <button class="btn2-Ulule"></button>
</section>
<section class="section-3">
    <video src="https://youtu.be/EjM_ccrnFng"></video>
</section>
<section class="section-4">
    <p>
        La brasserie <span>MAGE MALTE</span> possède aujourd'hui de nombreuses récomptenses pour la réalisation de
        bières
        artisanales bio et nous sommes fiers d'avoir eu la chance de faire réaliser notre projet de la bière Völva avec
        eux.
    </p>
    <img src="Le_corbeau_d_encre\Okohorn\static\Okohorn\medias\16178846_1816117668663273_9071646093032487040_o.jpg"
        alt="Logo Mage Malte." class="mage-malte">
    <img src="Le_corbeau_d_encre\Okohorn\static\Okohorn\medias\1200px-Organic-Logo.svg.png" alt="Logo bio." class="bio">
    <img src="Le_corbeau_d_encre\Okohorn\static\Okohorn\medias\AB_cert_HD.jpg" alt="Logo certification bio."
        class="bio2">
    <img src="Le_corbeau_d_encre\Okohorn\static\Okohorn\medias\5edf9069c671b_alcool_femme_enceinte_0-4407073.png"
        alt="Logo femme enceinte barré." class="pregnant">
    <img src="Le_corbeau_d_encre\Okohorn\static\Okohorn\medias\1643981875825.png"
        alt="Photo du visuel de la bière Völva" class="volva-beer2">
</section>
<footer>
    <img src="Le_corbeau_d_encre\Okohorn\static\Okohorn\medias\1643981875805.jpeg" alt="Image footer." class="footer">
</footer>
{% endblock content %}