{% extends 'Okohorn/_base.html' %}
{% load static %}

{% block title %}Okohorn- Völva{% endblock title %}

{% block content %}
    <header>
        <h1>Okohorn</h1>
        <p>Bière en financement participatif.<br/>Consultez les packs sur le lien Ulule.</p>
        <button class="btn-Ulule"></button>
    </header>
    <div class="section-1">
        <img src="{% static 'Okohorn/images/Skal.png' %}" alt="Photo de Skal, l'éco-cup corne."
            class="skal">
        <img src="{% static 'Okohorn/images/Logo_Völva.png' %}" alt="Logo de la Völva."
            class="volva-logo">
        <img src="{% static 'Okohorn/images/Völva_beer.png' %}"
            alt="Photo du visuel de la bière Völva." class="volva-beer">
    </div>
    <section class="section-2">
        <h2>ACHETER EN PREVENTE SUR ULULE !</h2>
        <button class="btn2-Ulule"></button>
    </section>
    <section class="section-3">
        <p>
            La brasserie <span>MAGE MALTE</span> possède aujourd'hui de nombreuses récomptenses pour la réalisation de
            bières
            artisanales bio et nous sommes fiers d'avoir eu la chance de faire réaliser notre projet de la bière Völva avec
            eux.
        </p>
        <img src="{% static 'Okohorn/images/Logo_Mage_Malte.jpg' %}"
            alt="Logo Mage Malte." class="mage-malte">
        <img src="{% static 'Okohorn/images/Logo_organic.png' %}" alt="Logo bio." class="bio">
        <img src="{% static 'Okohorn/images/Logo_AB.jpg' %}" alt="Logo certification bio."
            class="bio2">
        <img src="{% static 'Okohorn/images/Logo_pregnant_not_alcohol.png' %}"
            alt="Logo femme enceinte barré." class="pregnant">
        <img src="{% static 'Okohorn/images/Völva_beer.png' %}"
            alt="Photo du visuel de la bière Völva" class="volva-beer2">
    </section>
    <footer>
        <img src="{% static 'Okohorn/images/Footer.jpeg' %}" alt="Image footer." class="footer">
    </footer>
{% endblock content %}