* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}

.flex {
    display: flex;
}
.sct-1 {
    flex-direction: column;
    align-items: flex-start;
}
h1 {
    font-size: 56px;
    color: red;
    background: none;
}
img {
    width: 500px;
    height: 500px;
    margin-top: -2rem;
}

.sct-2 {
    font-size: 27px;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 50px;
    padding-left: 550px;
    margin-top: -450px;
}

.sct-3 {
    padding-left: 550px;
    justify-content: space-around;
}

button {
    font-size: 21px;
    border: 2px solid white;
    box-shadow: 1px 1px 1px 1px red;
    padding: 3px 3px 3px 3px;
    margin: 6px 6px 6px 6px;
}

button:hover {
    background-color: white;
    color: black;
    font-weight: bold;
    border: 2px solid black;
    box-shadow: 2px 2px 2px 2px white;
}

a {
    text-decoration: none;
}